@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
* {
  font-family: "DM Sans", sans-serif;
}

body {
  padding: 47px 0px;
  max-width: 1240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
nav .filters-selected {
  gap: 2rem;
  display: flex;
}
nav .filter-ingredients--item {
  display: flex;
  background: #3282f7;
  border-radius: 5px;
  padding: 10px 20px;
  gap: 10px;
  color: white;
}
nav .filter-ingredients--item p {
  margin: 0;
}
nav .filter-appareils--item {
  display: flex;
  background: #68D9A4;
  border-radius: 5px;
  padding: 10px 20px;
  gap: 10px;
  color: white;
}
nav .filter-appareils--item p {
  margin: 0;
}
nav .filter-ustensiles--item {
  display: flex;
  background: #ED6454;
  border-radius: 5px;
  padding: 10px 20px;
  gap: 10px;
  color: white;
}
nav .filter-ustensiles--item p {
  margin: 0;
}

.blue {
  background-color: #3282f7;
}

.green {
  background-color: #68D9A4;
}

.red {
  background-color: #ED6454;
}

.filters {
  display: flex;
  gap: 20px;
  color: white;
}
.filters .filter-container {
  width: 170px;
  height: 69px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}
.filters form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 15px 0;
  position: relative;
}
.filters form .icon {
  position: absolute;
  top: 20px;
  right: 18px;
  font-size: 18px;
  font-weight: bold;
}
.filters form input {
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  height: 20px;
  font-size: 18px;
  line-height: 22px;
}
.filters form input:focus {
  outline: none;
}
.filters form input::placeholder {
  color: white;
}
.filters .autocom-box {
  z-index: 100;
  position: absolute;
  width: 900px;
  height: 500px;
  overflow-y: scroll;
  display: none;
  font-weight: normal;
  font-size: 18px;
  left: 0;
  top: 61px;
}
.filters .autocom-box.open {
  display: block;
}
.filters .autocom-box ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.filters .autocom-box li {
  padding: 10px;
  width: calc(800px / 3);
}
.filters .autocom-box li:hover {
  background-color: #0966ed;
}
.filters .autocom-box li:last-child {
  margin-right: auto;
}
.filters .select-ingredients {
  background-color: #3282f7;
}
.filters .select-ingredients--items {
  background-color: #3282f7;
  height: 300px;
}
.filters .select-ingredients--items > * {
  padding: 25px 15px;
  width: 170px;
  height: 69px;
  border-radius: 5px;
  cursor: pointer;
}
.filters .select-appareils {
  background-color: #68D9A4;
}
.filters .select-ustensiles {
  background-color: #ED6454;
}

main {
  margin-top: 25px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
}

.recette {
  width: 380px;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
}
.recette x p {
  margin: 0;
}
.recette figure {
  height: 364px;
  overflow: hidden;
  background-color: #C7BEBE;
  margin: 0;
}
.recette figure img {
  height: calc(100% - 186px);
}
.recette figure figcaption {
  height: 186px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #E7E7E7;
  padding: 20px;
  gap: 20px;
  font-size: 12px;
}
.recette figure figcaption .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.recette figure figcaption .row .recepeTitle {
  font-size: 18px;
}
.recette figure figcaption .row .time {
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  gap: 7px;
  width: 120px;
}
.recette figure figcaption .row .time img {
  width: 20px;
  height: 20px;
}
.recette figure figcaption .row:last-child > * {
  width: 50%;
  max-width: 50%;
}
.recette figure figcaption .row p {
  margin: 0;
}
.recette figure figcaption ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.recette figure figcaption .recepeDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d04f4f;
  margin-bottom: 17px;
}
header h1 {
  margin: 0;
}

nav {
  width: 100%;
}

#search-bar {
  position: relative;
  width: 100%;
}
#search-bar .search-bar {
  width: 100%;
  height: 69px;
  background: #E7E7E7;
  border-radius: 5px;
  border: none;
  padding: 23px;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.27);
}
#search-bar .search-bar::placeholder {
  color: rgba(0, 0, 0, 0.27);
}
#search-bar .search-bar:focus {
  outline: none;
}
#search-bar .search-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(0px, -50%);
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
