.blue{
    background-color: $color-one;
}
.green{
    background-color: $color-two;
}
.red{
    background-color: $color-three;
}
.filters{
    display: flex;
    gap: 20px;
    color: white;
    .filter-container {
        width: 170px;
        height: 69px;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
    }
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        font-weight: bold;
        font-size: 18px;
        padding: 25px 15px 0;

        position: relative;
        .icon{
            position: absolute;
            top: 20px;
            right: 18px;
            font-size: 18px;
            font-weight: bold;
        }
        input{
            background-color: transparent;
            border: none;
            color: white;
            width: 100%;
            height: 20px;
            font-size: 18px;
            line-height: 22px;
            &:focus{
                outline: none;
            }
            &::placeholder{
                color: white;
            }
        }
    }
    .autocom-box{
        &.open{
            display: block;
        }
        ul{
            display: flex;
            list-style: none;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        z-index: 100;
        position: absolute;
        width:900px;
        height: 500px;
        overflow-y: scroll;
        display: none;
        font-weight: normal;
        font-size: 18px;
        left: 0;
        top: 61px;
        li{
            padding: 10px;
            width: calc(800px / 3);
           &[data-name="ingredients"]{
            &:hover{
                background-color: darken($color-one,10%);
            }
           }
           &[data-name="ustensils"]{
            &:hover{
                background-color: darken($color-three,10%);
            }
           }
           &[data-name="appliance"]{
            &:hover{
                background-color: darken($color-two,10%);
            }
           }
            &:last-child{
                margin-right: auto;
            }
        }
    }
    .select{
        &-ingredients {
            background-color: $color-one;
            &--items{
                background-color:  $color-one;
                height: 300px;
                &>*{
                    padding: 25px 15px;
                    width: 170px;
                    height: 69px;
                    border-radius: 5px;
            
                    cursor: pointer;
                }
            }
        }
        &-appareils{
            background-color: $color-two;
        }
        &-ustensiles{
            background-color: $color-three;
        }

    }
  }
